affine==2.4.0
asttokens==3.0.0
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
contextily==1.6.2
contourpy==1.3.1
cycler==0.12.1
decorator==5.2.1
dill==0.4.0
exceptiongroup==1.2.2
executing==2.2.0
extremitypathfinder==2.7.2
Farama-Notifications==0.0.4
fonttools==4.56.0
geographiclib==2.0
geojson==3.2.0
geopandas==1.0.1
geopy==2.4.1
gymnasium==1.1.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
ipython==8.35.0
ipywidgets==8.1.6
jedi==0.19.2
joblib==1.4.2
jupyterlab_widgets==3.0.14
kiwisolver==1.4.8
lazy_loader==0.4
matplotlib==3.10.0
matplotlib-inline==0.1.7
mercantile==1.2.1
moviepy==2.1.2
networkx==3.4.2
numpy==1.26.4
opencv-python==4.11.0.86
osmnx==2.0.1
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
proglog==0.1.11
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
pygame==2.6.1
Pygments==2.19.1
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.1
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.1
rasterio==1.4.3
requests==2.32.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shapely==2.0.7
six==1.17.0
stack-data==0.6.3
threadpoolctl==3.5.0
tifffile==2025.2.18
tqdm==4.67.1
traitlets==5.14.3
trajallocpy==0.0.14
trajgenpy @ file:///home/kasper/Downloads/trajgenpy-0.1.4-cp310-cp310-linux_x86_64.whl
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.13
widgetsnbextension==4.0.14
xyzservices==2025.1.0
